*{
  font-family: geometry; 
}
@font-face {
  font-family: 'geometry';
  src: url(/geometry_soft_pro/Geometry\ Soft\ Pro-Bold\ N.otf);
  font-style: normal;
  font-weight: normal;
}


body {
  margin: 0;
  font-family: 'geometry'; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
